@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Dosis:400,300);
body {
    font-family: "MS PGothic","Osaka",Arial,sans-serif;
    font-size: 80%;
}

/* -------Common class-----*/

/*箱の幅にpaddingとborderの幅の分を含める*/
div,header,nav,ul,li,a,main,section,article,aside,h1,h2,h3,h4,h5,h6,p {
box-sizing:border-box;
}

/* clearfix */
.clearfix:after{
display:block;	
content:'';
width:100%;
height:0;
clear:both;
visibility:hidden;
}

/* clear */
.clear {
clear:both;
}

/*存在させるけど非表示*/
.invisible {
visibility: hidden;
}

.align-right {
text-align:right;
}

.align-left {
text-align:left;
}



/* ↑-------Common class-----　*/


/* Layout */
/*
大外のcontainerの中の箱の横幅は全部相対値（%）にしていますので
大外の横幅変えるだけで全体の横幅が調節できます
*/
body {
background-image:url(../img/paper.png);
background-attachment:fixed;
}

.container {
width:960px;
margin:40px auto 0 auto;

}

.main_header {
height:500px;
background-image:url(../img/bg1.jpg);
background-repeat:no-repeat;
background-size:contain;
background-attachment:fixed;
background-position:center top;
border-top-right-radius:20px;
}

footer {
border:8px solid rgba(255,255,255,0.8);
margin-bottom: 50px;
position:relative;
}




/*上部ロゴ*/
.logo {
width:320px;
height: 80px;
float: left;
margin-bottom: 10px;
color:#000;
padding-top:2px;
background-image:url(../img/cloth.png);
text-align:center;
font-size:2.8rem;
line-height:60px;
font-family: 'Indie Flower', cursive;
border:5px solid rgb(209,74,20);	
transform:rotate(-8deg);
position:relative;
left:-35px;
top:20px;
}

.logo:after {
content:'';
display:block;
width:324px;
height: 85px;
position:absolute;
top:-9px;
left:-9px;
border:2px solid rgb(209,74,20);
}

.logo:hover {
background-color: #FF795B;
transition:0.5s linear;	
}

/* ユーティリティナビゲーションメニュー*/
.utility_nav  {
display: inline-block;
float:right;
margin-top: 30px;

font-size:1.2rem;
	
}
.utility_nav li {
display: inline-block;
margin-left: 10px;	
}
.utility_nav a{
text-decoration: none;
color:#F7FDFF;
font-family: 'Indie Flower', cursive;	
}

.utility_nav a:hover {
text-decoration: underline;
background-color:#FF795B;
}


/* メインナビゲーションメニュー*/
.main_nav {
height:40px;
}



.main_nav a {
display:block;
list-style-type:none;
float:left;
line-height:40px;
text-align:center;
text-decoration:none;
background-color:rgb(209,74,20);
color:#fff;
width:calc(100% / 6);
width:-moz-calc(100% / 6);
width:-webkit-calc(100% / 6);
font-family: 'Indie Flower', cursive;
font-size:1.3rem;
}



.main_nav li:first-child a {
border-bottom-left-radius:10px;
}

.main_nav li:last-child a {
border-bottom-right-radius:10px;
}


.main_nav a:hover {
background-color: #FF795B;
color:#fff;	
transition:0.5s linear;
}

/* メインコンテンツエリア　*/
.gloval_main .contents {
width:70%;
float:left;
}

.gloval_main .contents .content_sentence {
width:calc(100% - 20px);
width:-moz-calc(100% - 20px);
width:-webkit-calc(100% - 20px);
margin:10px;	
min-height:200px;
padding:40px;
-webkit-box-shadow: inset 2px 6px 12px 0px rgba(21, 23, 25, 0.75);
-moz-box-shadow:    inset 2px 6px 12px 0px rgba(21, 23, 25, 0.75);
box-shadow:         inset 2px 6px 12px 0px rgba(21, 23, 25, 0.75);
border-radius:10px;
}

.content_fullwidth {
margin:20px 0;
padding:10px;
}

.content_fullwidth ul li {
width:calc((100% - 80px) / 4);
width:-moz-calc((100% - 80px) / 4);
width:-webkit-calc((100% - 80px) / 4);
min-height:300px;
margin:10px;
float:left;
-webkit-box-shadow: inset 2px 6px 12px 0px rgba(21, 23, 25, 0.75);
-moz-box-shadow:    inset 2px 6px 12px 0px rgba(21, 23, 25, 0.75);
box-shadow:         inset 2px 6px 12px 0px rgba(21, 23, 25, 0.75);
background-color:rgba(255,255,255,0.5);
}

.content_sentence_fullwidth {
min-height:400px;
margin:10px;
-webkit-box-shadow: inset 2px 6px 12px 0px rgba(21, 23, 25, 0.75);
-moz-box-shadow:    inset 2px 6px 12px 0px rgba(21, 23, 25, 0.75);
box-shadow:         inset 2px 6px 12px 0px rgba(21, 23, 25, 0.75);
border-radius:40px;
}

/* サイドメニューエリア　*/
.gloval_main .sidemenu {
width:30%;
float:left;

}

.gloval_main .sidemenu .widget {
width:calc(100% - 20px);
width:-moz-calc(100% - 20px);
width:-webkit-calc(100% - 20px);
min-height:250px;
background-image:url(../img/cloth.png);
margin:10px;

}
/*---footer containts area----*/
.footer_widget {
width:calc(100% / 3 - 20px);
width:-moz-calc(100% / 3 - 20px);
width:-webkit-calc(100% / 3 - 20px);
min-height:400px;
background-color:#fff;
float:left;
margin:10px;
}

/*--words_assets--*/

.content_title {
font-size:2.2rem;
margin:0 0 20px 0;
text-align:center;
font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
color: #fff;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;

}


}



.content_detail {
line-height:1.8em;
font-size:1rem;
font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";

}

.main_header h2 {
display:inline-block;
font-size:2rem;
padding:5px 10px;
margin:100px auto 0 auto;
color:rgba(255,255,255,1);
font-family: 'Dosis', sans-serif;
/*text-shadow: 0px 1px 7px rgba(0, 0, 0, 1);*/
background-color:#000;
}

/*--image_assets--*/
.img_left{
float:left;
margin:0 10px 10px 0;

}

.img_right{
float:right;
margin:0 0 10px 10px;

}

/*-----single posts-----*/
.single_link {
color:#000;
}

/*--------category archive fix-------------*/
.category .logo,.page .logo {
transform:none;
top:0;
left:0;

}

.category .main_nav ul li:first-child a,
.page-id-40 .main_nav ul li:first-child a,
.page-id-43 .main_nav ul li:first-child a
 {
border-bottom-left-radius:0;
}

.category .main_nav ul li:last-child a,
.page-id-40 .main_nav ul li:last-child a,
.page-id-43 .main_nav ul li:last-child a
 {
border-bottom-right-radius:0;
} 




